<!DOCTYPE html>
<html>

<head>
	<title>The Gosu Programming Language</title>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/js/google-code-prettify/prettify.js"></script>
	<script src="/js/site.js"></script>
	<script src="/js/eval-gosu.js"></script>

  <link rel="shortcut icon" href="/img/logo-gs-only.png" />
	<link href='//fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
</head>

<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/img/logo-no-gs.png" style="width:75px"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/docs.html">Getting Started</a></li>
							<li><a href="/docs.html#basics">Basics</a></li>
							<li><a href="/docs.html#gsp">Programs</a></li>
							<li><a href="/docs.html#blocks">Blocks</a></li>
							<li><a href="/docs.html#enhancements">Enhancements</a></li>
							<li><a href="/docs.html#strings">Strings</a></li>
							<li><a href="/docs.html#collections">Collections</a></li>
              <li class="divider"></li>
              <li><a href="/grammar.html">Grammar</a></li>
              <li><a href="/doc/index.html" target="_blank">Long form documentation</a></li>
						</ul>
					</li>
					<li><a href="/downloads.html">Downloads</a></li>
					<li><a href="/resources.html">Resources</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Talk <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="http://webchat.freenode.net/?channels=gosulang">Chat on <em>#gosulang</em></a></li>
							<li><a href="http://groups.google.com/group/gosu-lang">Newsgroup</a></li>
							<li><a href="https://github.com/gosu-lang/gosu-lang/issues">Issue tracking</a></li>
						</ul>
					</li>
          <li><a href="/play.html">Play</a></li>
				</ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="https://github.com/gosu-lang/gosu-lang"><i class="fa fa-github"></i></a></li>
        </ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="container content">
		{{ content }}

    <hr/>

		<footer>
			<p>&copy; <a href="http://www.guidewire.com">Guidewire Software</a> 2015</p>
		</footer>

	</div> <!-- /container -->

	<script>
  	prettyPrint();
	</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53666500-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>

